body{
  background: gray;
  background-image: src('ilia.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main_style {
  
}

.main_style:hover {
  
}

.main_style:active {
  
}

.main_style:visited {
  
}
