body{
  background-image: src('ilia.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background: #211f1f;
}

.main_style {
  
}

.main_style:hover {
  
}

.main_style:active {
  
}

.main_style:visited {
  
}
